<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../assets/styles/shared-style.css">
    <link rel="stylesheet" href="../assets/styles/home-style.css">
</head>
<body>
    <div class="header">
        <div class="btn">
            <img src="../assets/images/menu.svg" alt="">
        </div>
        <div class="user">
            <div class="user-name">TRẦN SECOND - SV</div>
            <div class="avatar">
                <img src="../assets/images/avt.png" alt="avatar">
            </div>
            <div class="hidden-options">
                <a href="">Cá nhân</a>
                <a href="">Đăng xuất</a>
            </div>
        </div>
    </div>
    <div class="body open-side-nav">
        
        <div class="side-nav">
            <a class="link-title">Điều hướng</a>
            <a href="">Dashboard</a>
            <a class="link-title">Các lớp học</a>
            <a href="">Lập trình di động - nhóm 20 (2023 - 2024) - Ngô ZERO</a>
            <a href="">Lập trình di động - nhóm 20 (2023 - 2024) - Ngô ZERO</a>
            <a href="">Lập trình di động - nhóm 20 (2023 - 2024) - Ngô ZERO</a>
            <a href="">Lập trình di động - nhóm 20 (2023 - 2024) - Ngô ZERO</a>
        </div>
        
        <div class="main main-extend">
            <div class="ctn">
                <h3 class="title">CÁC LỚP HỌC</h3>
                <input type="text" name="find-class" id="find-class" placeholder="Tìm lớp học...">
                <div class="class-box">
                    <a class="class-link" href="">
                        <div class="class-img-ctn">
                            <img class="class-img" src="../assets/images/abstract-black-n-white.jpg" alt="">
                        </div>
                        <div class="class-name" author-name=" - NGÔ ZERO">Lập trình di động - nhóm 20 (2023 - 2024)</div>
                    </a>                 
                    <a class="class-link" href="">
                        <div class="class-img-ctn">
                            <img class="class-img" src="../assets/images/abstract-black-n-white.jpg" alt="">
                        </div>
                        <div class="class-name" author-name=" - NGÔ ZERO">Xác suất thống kê - nhóm 16 (2023 - 2024)</div>
                    </a>                 
                    <a class="class-link" href="">
                        <div class="class-img-ctn">
                            <img class="class-img" src="../assets/images/abstract-black-n-white.jpg" alt="">
                        </div>
                        <div class="class-name" author-name=" - NGÔ ZERO">Nguyên lý hệ điều hành - nhóm 10 (2023 - 2024) long text long text long text long text</div>
                    </a>                 
                    <a class="class-link" href="">
                        <div class="class-img-ctn">
                            <img class="class-img" src="../assets/images/abstract-black-n-white.jpg" alt="">
                        </div>
                        <div class="class-name" author-name=" - NGÔ ZERO">Nguyên lý hệ điều hành - nhóm 10 (2023 - 2024) long text long text long text long text</div>
                    </a>                 
                    <a class="class-link" href="">
                        <div class="class-img-ctn">
                            <img class="class-img" src="../assets/images/abstract-black-n-white.jpg" alt="">
                        </div>
                        <div class="class-name" author-name=" - NGÔ ZERO">Nguyên lý hệ điều hành - nhóm 10 (2023 - 2024) long text long text long text long text</div>
                    </a>                 
                    <a class="class-link" href="">
                        <div class="class-img-ctn">
                            <img class="class-img" src="../assets/images/abstract-black-n-white.jpg" alt="">
                        </div>
                        <div class="class-name" author-name=" - NGÔ ZERO">Nguyên lý hệ điều hành - nhóm 10 (2023 - 2024) long text long text long text long text</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
    <script src="../assets/scripts/Modal-content.class.js"></script>
    <script src="../assets/scripts/shared-actions.js"></script>
    <script src="../assets/scripts/student-homepage.js"></script>
</body>
</html>