<div class="modal-container">
    <div class="modal">
        <div class="modal-header">CHỈNH SỬA NGÂN HÀNG TRẮC NGHIỆM</div>

        <div class="modal-body">
            <div class="wrapper edit-quest-lib">
                <div class="ctn quest-list">
                    <h3>DANH SÁCH CÂU HỎI</h3>

                    <div class="quest-ctn">
                        <!-- LIST OF QUESTIONS HERE -->
                        <div class="quest new">
                            <div class="quest-content" data-quest-id="1">
                                Quest content Quest content Quest content Quest content Quest content Quest content Quest content Quest content Quest content Quest content Quest content Quest content
                                <i title="edit" class="edit-icon fas fa-edit"></i>
                            </div>
                            <div class="quest-answers">
                                <li class="quest-answer">Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer Quest answer <i title="edit" class="edit-icon fas fa-edit"></i><i title="right-question" class="right-icon fa-solid fa-check"></i></li>
                                <li class="quest-answer right">21312<i title="edit" class="edit-icon fas fa-edit"></i><i title="right-question" class="right-icon fa-solid fa-check"></i></li>
                                <li class="quest-answer">12312ed<i title="edit" class="edit-icon fas fa-edit"></i><i title="right-question" class="right-icon fa-solid fa-check"></i></li>
                                <li class="quest-answer">dsfsdf<i title="edit" class="edit-icon fas fa-edit"></i><i title="right-question" class="right-icon fa-solid fa-check"></i></li>
                            </div>
                        </div>
                        <div class="quest">
                            <div class="quest-content">Quest content</div>
                            <div class="quest-answers">
                                <li class="quest-answer">122</li>
                                <li class="quest-answer">21312</li>
                                <li class="quest-answer">12312ed</li>
                                <li class="quest-answer">dsfsdf</li>
                            </div>                                
                        </div>

                    </div>
                </div>

                <div class="ctn inputs">
                    <div class="input-box">
                        <label for="category-name">ĐỔI TÊN NGÂN HÀNG TRẮC NGHIỆM</label>
                        <div style="display: flex; align-items: center;">
                            <input required type="text" name="category-name" id="category-name" placeholder="Tên mới...">
                            <div class="btn">Xác nhận</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <label for="upload-file">THÊM CÂU HỎI</label>
                        <div style="display: flex; align-items: center;">
                            <input required type="file" name="upload-file" id="upload-file" accept=".docx">
                            <div class="btn">Thêm</div>
                        </div>
                        <p class="note">
                            <strong>LƯU Ý</strong>: TẢI LÊN FILE WORD (.dox) CHỨA DANH SÁCH CÁC CÂU HỎI DƯỚI DẠNG LIST 2 LV, ĐÁP ÁN ĐÚNG CẦN BÔI ĐEN, GẠCH CHÂN HOẶC IN NGHIÊNG. VÍ DỤ:
                            <br><br><span style="padding-left: 15px;">
                                1. Nội dung câu hỏi... (list lv1)<br>
                                &ensp;&ensp;&ensp;&ensp;A. (list lv2)<br>
                                &ensp;&ensp;&ensp;&ensp;B.<br>
                                &ensp;&ensp;&ensp;&ensp;C.<br>
                                &ensp;&ensp;&ensp;&ensp;D.
                            </span>
                            <br><br>HỆ THỐNG SẼ CỐ GẮNG PHÂN TÍCH THÀNH CÁC CÂU HỎI.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>