<div class="modal-container">
    <div class="modal">
        <div class="modal-header">Thêm bài tập lớp</div>
        <div class="modal-body">
            <div class="wrapper assign-homework">

                <div class="ctn">
                    <h3>THÔNG TIN BÀI TẬP</h3>
                    <div class="form-box">
                        <div class="input-box">
                            <form action="">
                                <div class="form-row">
                                    <label for="ex-name">Tên bài tập</label>
                                    <input id="ex-name" type="text" placeholder="Tên bài tập" required>                                    
                                </div>
                                <div class="form-row">
                                    <label for="ex-descriptions">Mô tả</label>
                                    <textarea name="" id="ex-descriptions" placeholder="Mô tả" required></textarea>                                    
                                </div>
                                <div class="form-row">
                                    <label for="ex-deadline">Thời hạn</label>
                                    <input type="datetime-local" name="" id="ex-deadline" required>
                                </div>
                                <div class="form-row">
                                    <input type="reset" value="Tạo lại">
                                    <a href="javascript:void(0)" class="btn">Thêm</a>
                                </div>                                    
                            </form>
                        </div>                            
                    </div>
                </div>
                
                <div class="ctn">
                    <div class="input-box">
                        <label for="">ĐÍNH KÈM TỆP</label>
                    </div>
                    <div class="documents">
                        <div class="doc-list">
                            <h3 class="doc-category-name">Bài tập mạng máy tính</h3>
                            <ul class="doc-ctn">
                                <li><input type="checkbox" name="1" id="1"><label for="1">Bài tập chương 1</label></li>
                                <li><input type="checkbox" name="2" id="2"><label for="2">Bài tập chương 2</label></li>
                                <li><input type="checkbox" name="3" id="3"><label for="">Bài tập chương 3</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>