<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            NỘP BÀI TẬP - BÀI TẬP ???
        </div>
        <div class="modal-body">
            <div class="wrapper edit-doc">

                <div class="ctn doc-list">
                    <h3>CÁC FILE ĐÃ NỘP</h3>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>

                <div class="ctn inputs">
                    <div class="input-box">
                        <label for="category-name">TẢI LÊN FILE BÀI TẬP</label>
                        <div style="display: flex; align-items: center;">
                            <input type="file" name="upload-file" id="upload-file" placeholder="Tải lên..." multiple>
                            <div class="btn">Thêm</div>
                        </div>
                    </div>
                    <div class="input-box">
                        <div style="display: flex; align-items: center;">
                            <a href="javascript:void(0)" class="btn red">Hủy nộp bài</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>