<div class="modal-container">
    <div class="modal">
        <div class="modal-header">Quản lý tài liệu lớp</div>
        <div class="modal-body">
            <div class="wrapper edit-doc">

                <div class="ctn doc-list">
                    <h3>DANH SÁCH TÀI LIỆU LỚP</h3>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                    <a href="javascript:void(0)"><span class="text">Aaaa</span></a>
                </div>

                <div class="ctn">
                    <div class="input-box">
                        <label for="">ĐÍNH KÈM TỆP</label>
                    </div>
                    <div class="documents">
                        <div class="doc-list">
                            <h3 class="doc-category-name">Bài tập mạng máy tính</h3>
                            <ul class="doc-ctn">
                                <li><input type="checkbox" name="1" id="1"><label for="1">Bài tập chương 1</label></li>
                                <li><input type="checkbox" name="2" id="2"><label for="2">Bài tập chương 2</label></li>
                                <li><input type="checkbox" name="3" id="3"><label for="">Bài tập chương 3</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>