<div class="ctn doc-list">
    <h3>DANH SÁCH TÀI LIỆU</h3>
    <input type="text" placeholder="Tìm tài liệu...">
    <a href="javascript:void(0)"><span class="text">Abcns ksakdkad Abcns ksakdkad Abcns ksakdkad Abcns ksakdkad Abcns
            ksakdkad Abcns ksakdkad</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a href="javascript:void(0)"><span class="text">Aaaa</span><i class="fa fa-trash" aria-hidden="true"></i></a>
</div>
<div class="ctn inputs">
    <div class="input-box">
        <label for="category-name">ĐỔI TÊN DANH MỤC</label>
        <div style="display: flex; align-items: center;">
            <input type="text" name="category-name" id="category-name" placeholder="Tên mới...">
            <div class="btn">Xác nhận</div>
        </div>
    </div>
    <div class="input-box">
        <label for="category-name">TẢI THÊM TÀI LIỆU</label>
        <div style="display: flex; align-items: center;">
            <input type="file" name="upload-file" id="upload-file" placeholder="Tải lên...">
            <div class="btn">Thêm</div>
        </div>
    </div>
</div>