<div class="modal-container">
    <div class="modal">
        <div class="modal-header">Quản lý sinh viên lớp</div>
        <div class="modal-body">
            <div class="wrapper student-manage">

                <div class="ctn">
                    <h3>DANH SÁCH LỚP LTDĐ (13)</h3><br>
                    <table>
                        <tr>
                            <th>Định danh</th>
                            <th>Họ và tên</th>
                            <th>&ensp;</th>
                        </tr>
                        <tr>
                            <td class="std-id">22NS007</td>
                            <td class="std-name">MAI TIẾN DŨNG</td>
                            <td class="delete-btn"></td>
                        </tr>
                    </table>
                </div>
                
                <div class="ctn">
                    <div class="input-box">
                        <label for="upload-file">THÊM SINH VIÊN</label>
                        <div style="display: flex; align-items: center;">
                            <input required type="file" name="upload-file" id="upload-file" accept=".xlsx">
                            <div class="btn">Thêm</div>
                        </div>
                        <p class="note">
                            <strong>LƯU Ý</strong>: TẢI LÊN FILE EXCEL (.xlsx) CHỨA DANH SÁCH SINH VIÊN, HỆ THỐNG SẼ LẤY CỘT ĐẦU TIÊN LÀM ĐỊNH DANH, CỘT THỨ 2 LÀ HỌ TÊN SINH VIÊN.<br><br>LƯU Ý, ĐỊNH DANH KHÔNG ĐƯỢC TRÙNG, NẾU TRÙNG SẼ BỊ LỌC
                        </p>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</div>